Body {
  font-family: 'Courier New', Courier, monospace;
  min-width: 320px;
  overflow-x: hidden;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  color:white;
}

.nav-desktop {
  padding-left: 3%;
  padding-right: 3%;
  /* padding: 2% 5% 2% 5%; */

  background: black;
  color: white;
  display: grid;
  grid-template-columns: 220px auto 150px;
  grid-template-areas: "title . social";
}

.nav-title {
  grid-area: title;
  font-size: 1.3rem;
}

@media only screen and (max-width: 400px) {
  .nav-social img {
    width: 30px !important;
    height: 30px !important;
  }

  .nav-desktop {
    grid-template-columns: 180px auto 120px;
  }
}

.nav-social {
  grid-area: social;

}

.nav-social li {
  padding: 0px 0px 0px 10px !important;
}

.nav-desktop ul, .nav-social ul, .nav-social #nav-linkedin {
  list-style: none;
  display: inline-flex;
  padding-left: 0;
  margin-left: 0;
}

.nav-title,.nav-social,.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-social img {
  background: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.nav-title a:hover {
  transition-duration: .8s;
  color: gray;
}

.nav-social img:hover {
  transition-duration: .8s;
  background: gray;
} 

/*====================================*/

/* Landing */

.wrapper {
  display: grid;
  grid-template-rows: auto  auto;
  font-size: 2.4vw !important;
  
}

.landingPage {
  display: grid;
  grid-template-columns: 50% auto;
  margin: 5% 5% 0% 5%;
  text-align: center;
}

.writing-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:690px ) {
  .landingPage {
    grid-template-columns:auto;

    grid-template-rows: auto auto;
  }

  .wrapper {
    font-size: .9rem !important;
  }
}

.image-div {
  display: flex;
  align-items:flex-end;
}

.smart-image{
  -webkit-filter: drop-shadow(10px 12px 25px rgba(0, 0, 0, 0.7));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  /* justify-content:left; */

  width: 100%;
  height: 100%;
  position: relative;
  min-width: 200px;
  min-height: 100%;
  animation: fadein 5s;
}

.load{
  animation: fadein 5s
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



.projects-section {
  z-index: 1;
  background: #ecebeb;
  padding: 2% 5% 2% 5%;
  font-size: 1.8rem !important;

}

div .projects {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 8fr;
  gap: 1.2rem 1.2rem;
}

@media only screen and (max-width: 740px) {
  div .projects{
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 8fr;
    gap: 1.2rem 1.2rem;
  }

}


.repo{
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 6px 0px;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

div.repoBox{
    height: 100%;
    padding: 1rem;
    background: rgb(255, 255, 255);
}

.repo:hover, .repoBox:hover {
  transition-duration: 1s;
  background: rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 6px 0px;
}



